service: blink-webhook-strict
frameworkVersion: '3'
provider:
  name: aws
  runtime: nodejs18.x
  region: ap-southeast-1
  environment:
    # รับค่าจากที่ GitHub Actions ส่งมา
    WEBHOOK_SECRET: ${env:WEBHOOK_SECRET} 
functions:
  webhookReceiver:
    handler: src/receiver.handler
    events:
      - http:
          path: webhook
          method: post
          cors: true
